@model MyBakery.WebUI.Dtos.Sliders.ResultSliderDto

<section id="hero" class="hero section">
	<div class="hero-bg">
		<img src="@Model.ImageUrl" alt="">
	</div>
	<div class="container text-center">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<h1 data-aos="fade-up"><span>@Model.Title</span></h1>
			<p data-aos="fade-up" data-aos-delay="100">@Model.Description<br></p>
			<div class="d-flex" data-aos="fade-up" data-aos-delay="200">
				<a href="#about" class="btn-get-started">Başlarken</a>
				<a href="@Model.VideoUrl" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Videoyu İzle</span></a>
			</div>
			<img src="@Model.ImageUrl" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
		</div>
	</div>

</section>