@using QuickStart.WebUI.Dtos.Contacts
@model ResultContactsDto

<section id="contact" class="contact section">

	<div class="container section-title" data-aos="fade-up">
		<h2>İletişim</h2>
		<p>Bizlere aşağıdaki bilgilerden ulaşabilirsiniz:</p>
	</div>

	<div class="container" data-aos="fade-up" data-aos-delay="100">

		<div class="row gy-4">

			<div class="col-lg-6">
				<div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
					<i class="bi bi-geo-alt"></i>
					<h3>Adresimiz</h3>
					<p>@Model.Address</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
					<i class="bi bi-telephone"></i>
					<h3>Telefon Numaramız</h3>
					<p>@Model.PhoneNumber</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
					<i class="bi bi-envelope"></i>
					<h3>E-posta Adresimiz</h3>
					<p>@Model.Email</p>
				</div>
			</div>

		</div>

		<div class="row gy-4 mt-1">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
				@Html.Raw(Model.MapUrl)
			</div>

			<div class="col-lg-6">
				<form asp-controller="Message" asp-action="SendMessage" method="post" class="mt-4" data-aos="fade-up" data-aos-delay="400">
					<div class="row gy-4">

						<div class="col-md-6">
							<input type="text" name="name" class="form-control" placeholder="İsminiz" required="">
						</div>

						<div class="col-md-6 ">
							<input type="email" class="form-control" name="email" placeholder="E-posta Adresiniz" required="">
						</div>

						<div class="col-md-12">
							<input type="text" class="form-control" name="subject" placeholder="Konu" required="">
						</div>

						<div class="col-md-12">
							<textarea class="form-control" name="content" rows="6" placeholder="Mesaj İçeriği" required=""></textarea>
						</div>

						@if (TempData["SuccessMessage"] != null)
						{
							<div class="alert alert-success text-center mt-3">
								@TempData["SuccessMessage"]
							</div>
						}

						@if (TempData["ErrorMessage"] != null)
						{
							<div class="alert alert-danger text-center mt-3">
								@TempData["ErrorMessage"]
							</div>
						}
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-primary">Mesajı Gönder</button>
						</div>

					</div>
				</form>
			</div>

		</div>

	</div>

</section>